* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Montserrat", sans-serif;
}

body {
	background-color: #20232a;
	color: #ffffff;
	line-height: 1.6;
}

.header {
	text-align: center;
	padding: 24px 64px;
	border-bottom: 0.5px solid #f9a825;
	display: flex;
	width: 100%;
	max-width: 1250px;
	margin: 0px auto;
	justify-content: space-between;
}

.header-img {
	height: 30px;
}

nav {
	width: 50%;
}

.nav li {
	width: 100%;
	margin: 10px 0px;
}
.nav {
	list-style: none;
	display: flex;
	justify-content: center;
	gap: 8px;
}

.nav a {
	display: block;
	text-decoration: none;
	color: #dbdbdb;
	font-weight: bold;
	transition: color 0.3s;
	font-weight: 600;
	font-size: 14px;
	width: 100%;
}

.nav a:hover,
.nav a.active {
	color: #f9a825;
}

.portfolio-section {
	margin: 2rem 0px 0px;
	text-align: center;
}
.portfolio-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0px 24px;
}
.section-title {
	font-size: 2.5rem;
	color: #f9a825; /* Laranja para título da seção */
	margin: 2.5rem 0px 0.8rem;
	font-weight: 900;
}

.categories {
	display: flex;
	justify-content: center;
	gap: 1rem;
	list-style: none;
	margin-bottom: 0.7rem;
}

.category {
	padding: 0.5rem 1rem;
	background-color: #333333;
	border-radius: 20px;
	cursor: pointer;
	transition: background-color 0.3s, color 0.3s;
	text-decoration: none;
	color: white;
	font-size: 16px;
	font-weight: 500;
}

.category:hover,
.category.active {
	background-color: #f9a825; /* Destaque em laranja */
	color: #20232a; /* Contraste */
}

.slider-container {
	margin: 1.2rem auto 0px;
	position: relative;
	width: 100%;
	max-width: 700px;
	overflow: hidden;
	border-radius: 10px;
}
.slider-container .slider-btn {
	top: 42%;
}
.slider-container--modal .slider-btn {
	top: 50%;
}
.slider {
	display: flex;
	transition: transform 0.4s ease-in-out;
}

.slider-btn {
	position: absolute;
	transform: translateY(-50%);
	background-color: rgba(0, 0, 0, 0.5);
	color: #ffffff;
	border: none;
	cursor: pointer;
	border-radius: 50%;
	font-size: 1.3rem;
	transition: background-color 0.3s;
	padding: 1rem 1.5rem;
}

.slider-btn:hover {
	background-color: #f9a825; /* Laranja no hover */
}

.prev-btn {
	left: 0px;
}

.next-btn {
	right: 0px;
}

.slide,
.modal-slide {
	min-width: 100%;
	padding: -1rem 2rem 0px;
	text-align: center;
	display: -moz-inline-grid;
	display: inline-grid;
	gap: 24px;
}
@media only screen and (min-width: 1450px) {
	.portfolio-content .slide {
		gap: 12px;
	}
}

iframe {
	margin: 0px auto;
}
.info {
	/* margin-top: 0.8rem; */
	display: none;
}
.modal-title {
	display: flex;
	flex-direction: column;
}

.modal-title span {
	margin-bottom: 4px;
}
.modal-title div {
	margin-top: -8px;
	display: flex;
}
.modal-title div span {
	line-height: 26px;
	margin: auto 0px;
}
.modal-title * {
	font-size: 24px;
	font-weight: 900;
}

@media only screen and (min-width: 1450px) {
	.modal-image-container {
		width: 100%;
		max-width: 700px;
	}
	.info {
		display: block;
	}
	.modal-title {
		padding-top: 64px;
	}
}

.info-title-section {
	display: flex;
	align-items: center;
	justify-content: center;
}
.info h3 {
	font-size: 2rem;
	font-weight: 900;
}
.info-logo {
	height: 40px;
}
.h3-weight500 {
	font-weight: 500;
}

.info p {
	font-size: 1rem;
	color: #a9a9a9;
}
#modal-description {
	display: flex;
	flex-direction: column;
	gap: 8px;
}
#modal-description ul {
	margin-left: 16px;
}

.btn {
	display: inline-block;
	margin-top: 1rem;
	padding: 0.7rem 1.5rem;
	background-color: #f9a825; /* Botões laranja */
	color: #20232a; /* Contraste escuro */
	font-weight: bold;
	text-decoration: none;
	border: none;
	border-radius: 20px;
	cursor: pointer;
	transition: background-color 0.3s;
	font-size: 14px;
	margin: 0px auto;
}
/* .btn--slide {
	margin-top: 16px;
} */
.btn:hover {
	background-color: #d48806; /* Tom mais escuro no hover */
}

.indicators {
	display: block;
	padding-top: 1.5rem;
	height: 5px;
	width: -moz-fit-content;
	width: fit-content;
	margin: 0px auto 14px;
}

.indicator {
	transition: all 500ms;
	display: inline-block;
	width: 50px;
	height: 5px;
	background-color: #6c6c6c;
	border-radius: 10px;
	margin: 0 5px 20px;
}

.indicator.active {
	width: 100px;
	background-color: #ffffff;
}
/*  */
/* Modal */
.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1000;
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.3s ease, visibility 0.3s ease;
}
.modal-image-text {
	font-size: 14px;
}
.modal-container {
	background: #20232a;
	color: #ffffff;
	padding: 3rem 6rem 3rem;
	border-radius: 10px;
	width: 90%;
	position: relative;
	text-align: center;
	max-height: 90vh;
	overflow: auto;
}
@media only screen and (max-width: 1450px) {
	.modal-container {
		padding: 3rem 3rem 3rem;
	}
}

.modal-container img {
	max-width: 600px;
}

.close-btn {
	position: absolute;
	top: 10px;
	right: 10px;
	background: none;
	color: #f9a825;
	font-size: 2rem;
	border: none;
	cursor: pointer;
	font-size: 64px;
	font-weight: 300;
	margin-right: 24px;
}
#modal-description {
	margin-top: 16px;
	font-size: 14px;
}
.modal-container h4 {
	margin-top: 1.5rem;
}
.modal-content {
	display: flex;
	text-align: left;
	/* padding: 0px 24px 24px; */
}
.modal-text-section {
	padding: 24px 0px 24px 42px;
}

@media only screen and (max-width: 1450px) {
	.modal-content {
		flex-direction: column;
		gap: 32px;
	}
	.modal-text-section {
		padding: 0px;
	}
}

.tech-icons span {
	display: inline-block;
	margin: 0.5rem;
	text-align: center;
}
.tech-icons i {
	transform: scale(2);
	margin-right: 12px;
	/* width: 24px; */
}
.tech-icons * {
	font-size: 14px;
}

/* Show Modal */
.modal.visible {
	opacity: 1;
	visibility: visible;
}
.modal-image-slider button {
	background: transparent;
	border: none;
	font-size: 30px;
	color: #fff;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
	z-index: 10;
}

.modal-prev-btn {
	left: 10px;
}

.modal-next-btn {
	right: 10px;
}

.btn-hidden {
	display: none;
}

.web-container {
	min-width: 200px;
	margin: auto;
	width: calc(100% - 100px); /* Largura do contêiner */
	height: 425px; /* Altura do contêiner */
	overflow: hidden; /* Oculta o conteúdo fora do contêiner */
	position: relative; /* Define a posição relativa para posicionamento absoluto do pseudo-elemento */
	display: flex; /* torna o container um flex container */
	align-items: flex-start; /* alinha a imagem no topo do container */
	border-radius: 10px;
}
.modal-image-container .slider-container {
	margin: 30px auto 0px;
}
@media only screen and (max-width: 550px) {
	.web-container {
		width: calc(100% - 80px);
		max-height: 200px; /* Altura do contêiner */
	}
	.slider-container .slider-btn {
		top: 30%;
		transform: scale(0.8);
	}
}
@media only screen and (min-width: 750px) {
	.image-container {
		height: 90%;
	}
}
.modal .web-image {
	width: 100%;
	margin-bottom: 1rem;
}

.web-image {
	width: 100%;
	object-fit: cover;
	object-position: top;
	height: 100%;
	transition: 4s all ease;
}
.image-container {
	margin: auto;
	display: flex;
	flex-direction: column;
	gap: 24px;
}
.image {
	overflow: hidden;
	border-radius: 10px;
	height: 100%;
	width: 100%;
	object-fit: cover;
	object-position: center;
}

.web-container:hover .web-image {
	object-position: bottom;
}
